<div>
  <ul class= "tweet-index">
    <div class= "tweet-index_title">
      <p class= "tweet-index_title-text">
      </p>
    </div>
    
  </ul>

  <div class= "tweet-index-footer">
   
  </div>
  <%= render 'tweets/new_btn'%>

</div>