/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 */

 @import "reset";
 @import "modules/tweets";
 @import "modules/users";
 @import "modules/flash";

 .chat_scroll {
   overflow: scroll;
   height: 400px;
   width: 1000px;
   margin: 0 auto;
   border: 1px solid  #000;
 }

 .avatar {
   width: 50px;
   height: 50px;
   border-radius: 100px;
   object-fit: cover;
 }

 .n-sircle {
   position: absolute;
   padding-left: 1rem;
   padding-top: 0rem;
   color: #efa04c;
 }
